@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
}

#banner_hero {
    background-image:  url(../../public/banner-hero.png);
}

#banner_cacados_femininos {
    background-image: linear-gradient(to right, #F57002 3.3%, rgba(245, 112, 2, 0) 56.06%), url(../../public/calcados-femininos.png);   
}

#banner_cacados_masculinos {
    background-image: linear-gradient(to left, #F57002 3.3%, rgba(245, 112, 2, 0) 56.06%), url(../../public/calcados-masculinos.png);   
}

input[type='radio'] {
    display: none;
}

.custom-radio {
    width: 1.313rem;
    height: 1.313rem;
    display: grid;
    place-content: center;
    background-color: #fff;
    border-radius: 3px;    
}

.custom-radio div {
    content: '';
    width: 14px;
    height: 10px;
    background: #fff;
   
  }

input[type='radio']:checked + .custom-radio div {
    background-image:  url(../../public/Offers/check.svg);
  }
  

  


 
